#### types of operators

#### 1.arithmetic
#### 2.assignment
#### 3.comparison
#### 4.logical
#### 5.membership
#### 6.identity
#### 7.bitwise

In [1]:
#   1. arithmetic
x =10
y =20
x * y

200

In [2]:
x ** y   #means x ^ y

100000000000000000000

In [3]:
x/y   # its not like as in c++

0.5

In [4]:
x // y   #floor divison return integer part only

0

In [5]:
x % y  #remainder

10

In [6]:
# Assignment opertors

In [7]:
# = , += , -= , %= , **= , //=, |=, ^=, &=

In [8]:
x = 10

In [9]:
x +=10

In [10]:
x -=10

In [11]:
x *=5

In [12]:
x

50

In [13]:
x=50

In [14]:
x %=30

In [15]:
x

20

In [16]:
x **= 3

In [17]:
x

8000

In [18]:
x //=17

In [19]:
x

470

In [20]:
x /=4

In [21]:
x

117.5

In [22]:
type(x)

float

In [23]:
x =10

In [24]:
type(x)  #bcz next | can't be performed on float

int

In [25]:
x |= 20

In [26]:
x

30

In [27]:
x ^=15

In [28]:
x

17

In [29]:
x &=12

In [30]:
x

0

### comparison operators

In [31]:
# ==, != , >, <, >=, <=

 #### Logical operators

In [32]:
# used to combine conditional statements

In [33]:
# we have three conditional statement in python
# if 
# elif
# else

In [34]:
num1 = 10
num2 = 12

In [35]:
if num1 == num2:
    print('equal')
elif num1 > num2:
    print("greater")
else:
    print("lesser")

lesser

In [36]:
# now lets see the logical operators 
# and , or , not

In [37]:
num1 > 10 and num1 > 13

False

In [38]:
num1 == 10 or num1 > 13

True

In [39]:
not(num1 > 10 and num1 > 13)

True

### identity operators

In [40]:
# used to compare objects

In [41]:
# but what is an object in python ?
# everything in python is an object, so we can use data types as objects itself.

In [42]:
# identity operators are 
# is --> x is y ==> returns true if both are same 
# is not --> x is not y  ==> return true if both are not same.

In [43]:
list1 = [1,2,3,4]
list2 = [10,20,30,40]

In [44]:
x = list1

In [45]:
x is list1

True

In [46]:
x is not list2

True

#### membership operators

In [47]:
# used to check if a sequence is present in an obj or not

In [48]:
# in and not in

In [49]:
list1

[1, 2, 3, 4]

In [50]:
list2

[10, 20, 30, 40]

In [51]:
x = 2

In [52]:
x in list1

True

In [53]:
x not in list2

True

In [54]:
10 in list2

True

In [55]:
[10,20] in list2

False

In [56]:
'str' in 'string'

True

In [57]:
list1 = [10,20,30]
list2 = [10,20,30]

In [58]:
list1 == list2

True

In [59]:
list1 is list2   # since these are two different objects
                    # comparisons of two object always comes false(in Js,C++) also

False

#### bitwise operator

In [60]:
# used for comparing binary numbers

In [61]:
1010 & 1100

64

In [62]:
10 & 12

8

In [63]:
10 | 12

14

In [64]:
1010|1100

2046

In [65]:
16>>1  #right shift means division

8

In [66]:
16<<1  # left shift means multiplication

32

In [67]:
# bitwise   XOR 
# sets each bit to 1 if only one of the bits is 1

In [68]:
10^12  #(1010 ^ 1100 == 0110 ie six)

6