### Data types in Python

#### 1 .Numbers

In [1]:
x=1

In [2]:
type(x)

int

In [3]:
flag = 10>0

In [4]:
flag

True

In [5]:
type(flag)

bool

#### 2. String

In [6]:
x = 'hello'
y = 'World'
z = input("enter the value of z : ")

In [7]:
print("values of x, y, z are : ",x,y,z)

values of x, y, z are :  hello World 12

In [8]:
x[2]

'l'

In [9]:
len(x) #for getting the length of strings

5

In [10]:
x[0]

'h'

In [11]:
x[1]='j'   #str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [12]:
x[:5]

'hello'

In [13]:
x[0:6]

'hello'

In [14]:
x[0:9]

'hello'

In [15]:
x.upper() #for prinitng the uppercase

'HELLO'

In [16]:
x = x.upper() #this kind of changes are allowed

In [17]:
x

'HELLO'

In [18]:
x[-1]  #will give the last letter of the string

'O'

In [19]:
x[-2]

'L'

#### 3.List

### Ordered, can be changed. Duplicate entries are present

In [20]:
fruits = ['appple','kiwi','banana']
print(fruits)

['appple', 'kiwi', 'banana']

In [21]:
fruits[1]

'kiwi'

In [22]:
fruits[5]

IndexError: list index out of range

In [23]:
fruits[0]

'appple'

In [24]:
fruits[3]="mango"

IndexError: list assignment index out of range

In [25]:
fruits[2]="mango"

In [26]:
fruits

['appple', 'kiwi', 'mango']

In [27]:
fruits.append("orange")  #for adding item to last of list

In [28]:
fruits

['appple', 'kiwi', 'mango', 'orange']

In [29]:
list1 = [10,10,22,30,'sam','aman',[3,4,5]]

In [30]:
list1

[10, 10, 22, 30, 'sam', 'aman', [3, 4, 5]]

In [31]:
list1[3] = 35   #can be changed

In [32]:
list1

[10, 10, 22, 35, 'sam', 'aman', [3, 4, 5]]

In [33]:
list1.insert(1,100)   
#specify the index number an give value

In [34]:
list1

[10, 100, 10, 22, 35, 'sam', 'aman', [3, 4, 5]]

In [35]:
# as we saw all other items were shifted to the right

In [36]:
list1.reverse()  #this would reverse the list

In [37]:
list1

[[3, 4, 5], 'aman', 'sam', 35, 22, 10, 100, 10]

### 4. Dictionary

#### Unordered, can be changed, No duplicate entries present

In [38]:
animals = {
            'reptiles':'snake',
            'mammals':'whale',
            'amphibians':'frogs'
}

In [39]:
print(animals)

{'reptiles': 'snake', 'mammals': 'whale', 'amphibians': 'frogs'}

In [40]:
animals[1]   # because the dictionaries are unordered

KeyError: 1

In [41]:
animals['reptiles']   #we need to pass the key value

'snake'

In [42]:
# we can use the key as the indexes since they are unique

In [43]:
studentDetails = {'aman':100,'vishant':200,'anubhav':300,
                 'anubhav':344}

In [44]:
print(studentDetails)

{'aman': 100, 'vishant': 200, 'anubhav': 344}

In [45]:
# since no duplicates are allowed only the last one is chosen

In [46]:
# since the key also should be unique  implies no duplicate

### 5. Tuples

#### Ordered, cannot be changed, Duplicates are allowed

In [47]:
animals = ('lion', 'tiger','monkey',10,10,20,30)
print(animals)

('lion', 'tiger', 'monkey', 10, 10, 20, 30)

In [48]:
animals(1)

TypeError: 'tuple' object is not callable

In [49]:
animals[1]

'tiger'

In [50]:
#count how many duplicates value of 10 are there in tuple
animals.count(10)

2

In [51]:
animals.count('tiger')  #how many tiger are there in tuple

1

In [52]:
animals.length()

AttributeError: 'tuple' object has no attribute 'length'

In [53]:
len(animals)   #for calcuating the length of tuple in  python

7

### 6. SET

#### Unordered, No Duplicates entries

In [54]:
pets = {'dog','cat','monkey','rabbit',10,22,10} 
#just like the sets in maths

In [55]:
print(pets)  #also notice no orders is there,no duplicate

{'cat', 'dog', 'rabbit', 22, 'monkey', 10}

In [56]:
pets[1]   #since unordered

TypeError: 'set' object is not subscriptable

# Ranges

### used when iterating throught a set of values

In [57]:
range(10)

range(0, 10)

In [58]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
#miscellaneous examples

In [60]:
a = {1,2,3,4}

In [61]:
b = {"one":11,"two":12,"three":13}

In [62]:
c = [a,b]

In [63]:
c #this list c contains one set and one dictionaryas its item

[{1, 2, 3, 4}, {'one': 11, 'two': 12, 'three': 13}]

## Type conversion

#### conversion of one data type to the other

### int() float() tuple() list() set() dict()

In [64]:
num1 = 10
str1 = "ten"

In [65]:
num1 + str1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [66]:
str(num1)+ str1  #for adding we performed type conversion

'10ten'

In [67]:
num1

10

In [68]:
#convert the a set to the list
list(a)

[1, 2, 3, 4]

In [69]:
a

{1, 2, 3, 4}

In [70]:
dict(a)  #see can not do this just the logical thing

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [3]:
x = range(20,3, -1)

for n in x:
  print(n)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4